@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 50px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Lobster';
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p {
    margin: 15px;
    font-size: 20px;
}

button {
    padding: 5px;
    background-color: pink;
    font-family: 'Lobster';
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}
