@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Pattaya&family=Press+Start+2P&family=Raleway&family=Rubik+Iso&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&family=Pattaya&family=Press+Start+2P&family=Raleway&family=Rubik+Iso&family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
}

canvas {
	display: flex;
	margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
    padding-top: 0;
    padding-left: 0;
    position: absolute;
}

header {
    width: 100%;
    height: 80px;
    background-color: #26DF10;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#btnMobile {
    position: absolute;
    display: none;
}
header h1{
    padding: 1rem;
}

#menu {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#menu a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

main {
    width: 100vw;
    height: calc(100vh-80px);
}

#cubo {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: 30%;
    left: 43%;
}

#h1{
    position: fixed;
    color: #26DF10;
    left: 28vw;
    bottom: 30%;
}

#button {
    position: fixed;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    left:45%;
    top: 75%;
    color: green;
    border: none;
}

.imagens {
    position: absolute;
    top: 90%;
    left: 40.5%;
    justify-content: space-between;
}

#git, #zap, #insta {
    width: 5%;
    margin-left: 30px;
}


/* Configuração para quando a tela do usuário for menor que 805 pixels*/
@media (max-width: 600px) {
    body {
        width: 300px;
        height: 462px;
        margin: 0;
        padding: 0;
    }
    header {
        width: 100vw;
        height: 20%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    #nome {
        font-size: 18px;
    }

    #btnMobile {
        display: block; /*Para o botão hamburguer aparecer*/
        left: 77vw;
        font-size: 17px;
        background: none;
        border: none;
    }
    #btnMobile::after, #btnMobile::before {
    margin-top: 6px;
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: currentColor; 
    transition: .6s;
    position: relative;
    }
    
    #menu {
        background-color: #0dbf10;
        top: 30%;
        padding: 2px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 35.6vw;
        height: 20vh;
        width: 19vw;
    }

    #menu li{
        font-size: 11px;
        padding: 2px;
        font-weight: bold;
    }

    #cubo {
        width: 100px;
        height: 100px;
        top: 30%;
        position: fixed;
        left: 35%;
    }

    #h1 {
        font-size: 18px;
        left: 5%;
        bottom: 40vh;
        left: 15vw;
    }

    #button {
        font-size: 15px;
        left: 38%;
        top: 67vh;
    }

    #git, #insta, #zap   {
        left: 37vw;
        width: 8vw;
        position: fixed;
        justify-content: space-between;
        display: flex;
        flex: row;
    }
    #zap {
        margin-left: 75px;
    }
    #insta {
        margin-left: 30px;
    }
    #git {
        margin-left: -15px;
    }
    .ibagens {
        justify-content: space-around;
        display: flex;
        flex: row;
    }
}