@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Pattaya&family=Press+Start+2P&family=Raleway&family=Rubik+Iso&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Libre+Baskerville:wght@700&family=Pattaya&family=Press+Start+2P&family=Raleway&family=Rubik+Iso&family=Silkscreen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
	display: flex;
	margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
    padding-top: 0;
    padding-left: 0;
    position: absolute;
}

header {
    width: 100%;
    height: 80px;
    background-color: #26DF10;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

header h1{
    padding: 1rem;
}
#div {
    display: flex;
}

#checkbox {
    display: none;
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    margin-top: 7px;
    background-color: black;
    transition: .5s;
}
#hamburguer {
    display: block;
    width: 30px;
    border-top: 4px solid black;
    margin-right: 2vw;
    transition: .5s;
    justify-content: center;
}

#hamburguer:hover{
    cursor: pointer;
}

label {
    display: flex;
    align-items: center;
}

#checkbox:checked ~ #menu {
    right: 0;
}
#checkbox:checked ~ label #hamburguer{
border-top-color: transparent;
}

#checkbox:checked ~ label #hamburguer::after {
    transform: rotate(135deg);

}

#checkbox:checked ~ label #hamburguer::before {
    transform: rotate(-135deg);
    margin-bottom: -10px;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: -32vh;
    background-color: rgba(213, 213, 213, .1);
    line-height: 10vh;
    transition: .5s;
}

#menu li {
    color: #26DF10;
    font-size: x-large;
    padding: 10px;
    border-bottom: 2px solid #ded5d5;
    margin-right: 5px;
}

#menu li a {
    text-decoration: none;
    color: #26DF10;
}

main {
    width: 100vw;
    height: calc(100vh-80px);
}

#cubo {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 120px;
}

#div-cubo {
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 35vh;
    display: flex;
    justify-content: center;
}

#h1-habilidades{
    position: relative;
    color: #26DF10;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65vh;
    font-size: 15px;
    flex-wrap: wrap;
}

#h1-contatos{ 
    position: relative;
    color: #26DF10;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70vh;
    font-size: 15px;
    flex-wrap: wrap;
    font-size: 23px;
}

.imagens {
    position: absolute;
    width: 100vw;
    top: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#zap, #git, #insta {
    width: 60px;
    margin-left: 30px;
}

/* Configuração para quando a tela do usuário for menor que 805 pixels*/
@media (max-width: 300px) {

    body {
        width: 80vw;
        height: 50vh;
    }

    #hamburguer {
        width: 30px;
        border-top: 2px solid black;
        margin-right: 15px;
    }

    #hamburguer::after, #hamburguer::before {
        height: 2px;
    }

    #menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: -32vh;
        background-color: rgba(213, 213, 213, .1);
        line-height: 5vh;
        transition: .5s;
    }
    
    #menu li {
        color: #26DF10;
        font-size: 13px;
        padding: 10px;
        border-bottom: 2px solid #ded5d5;
        margin-right: 5px;
        
    }

    #nome {
        font-size: 20px;
    }

    #cubo {
        width: 90px;
        height: 90px;
        position: relative;
    }

    #div-cubo {
        top: 25vh;
    }

    #h1-habilidades {
        font-size: 10px;
        top: 50vh;
    }

    #h1-contatos {
        font-size: 15px;
        top: 60vh;
    }

    #zap, #git, #insta {
        width: 30px;
        margin-left: 20px;
    }
}